.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}
button {
  margin-top: 10px;
}
a {
  text-decoration: none !important;
  color: white;
}
a:hover {
  color: white;
}
